<article class="blog-post">
    <div class="post-actions">
        <button class="edit-post-button" (click)="onEdit()" title="Редактировать">
            <img class="edit-post-logo" src="assets/edit-post.png" alt="Редактировать">
        </button>
        <button class="delete-post-button" (click)="onDelete()" title="Удалить">
            <img class="delete-post-logo" src="assets/delete-post.png" alt="Удалить">
        </button>
    </div>

    <div class="post">
        <span class="post-theme">{{ post.theme }}</span>
        <h3 class="post-title" [title]="post.title">{{ post.title }}</h3>
        <p class="post-time">Опубликовано <time>{{ post.date }}</time></p>
        <p class="post-text">{{ post.text }}</p>
    </div>
    <img class="blog-image" [src]="post.image || 'assets/kotik-template.jpg'" alt="Картинка статьи">
</article>