<main>
    <div class="container">
        <app-about-me></app-about-me>

        <section>
            <app-education></app-education>
            <app-skills></app-skills>
            <app-instruments></app-instruments>
        </section>

        @if (recentPosts().length > 0) {
        <section class="main-blog">
            <h2>Последние статьи</h2>

            @for (p of recentPosts(); track p.id) {
            <app-home-post [post]="p"></app-home-post>
            }

            <p class="all-posts-button">
                <a class="all-posts-link" routerLink="/blog">Посмотреть все статьи</a>
            </p>
        </section>
        }

        <app-hobbies></app-hobbies>
    </div>
</main>