//--------------------------------------
// last blog posts


.all-posts-button {
    text-align: center;
    padding: 20px;
    color: var(--color-green);

}

.all-posts-link {
    text-decoration: none;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
    border-color: var(--color-green);
    transition: 0.5s;

    &:hover {
        color: var(--color-white);
        background-color: var(--color-green);
    }
}