<footer>
    <div class="container footer-flex">
        <section class="contact-info" id="contact-info">
            <section class="contacts">
                <h2>Контакты</h2>
                <address>
                    <p class="contacts-text">
                        Email: <a class="contact-link" href="mailto:prudnikova.9@bk.ru">prudnikova.9@bk.ru</a><br>
                        Телефон: <a class="contact-link" href="tel:+79607806072">+7 (960) 780-60-72</a>
                    </p>
                </address>
            </section>
            <section class="social">
                <h2>Социальные сети</h2>
                <p>
                    <a class="social-link" href="https://t.me/Shuba" title="Связаться со мной в Telegram"><img
                             src="assets/tg_logo.svg" class="social-logo" alt="Telegram"></a>
                    <a class="social-link" href="https://github.com/BaldDogg" title="Мой профиль на GitHub"><img
                             src="assets/github_logo.png" class="social-logo" alt="GitHub"></a>
                </p>
            </section>
            <section class="copyright">
                <p>&copy; 2026 BaldDogg, Inc</p>
            </section>
        </section>
        <section class="send-email">
            <form class="email-form">
                <div class="email-input">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Введите ваш email адрес" required>
                </div>
                <div class="message-input">
                    <label for="message">Сообщение</label>
                    <textarea placeholder="Введите сообщение" id="message" name="message" rows="5" cols="33"
                              required></textarea>
                </div>
                <div class="send-email-button">
                    <button type="submit">Отправить</button>
                </div>
            </form>
        </section>
    </div>
</footer>