@media (max-width: 800px) {
    .blog {
        grid-template-columns: 1fr;
    }

    .last-blog-post {
        gap: 5px;
        grid-column: span 1;
        flex-direction: column;
        height: auto;
    }

    .last-blog-post> :first-child,
    .last-blog-post> :last-child {
        flex: auto;
    }

    .last-blog-image {
        height: 200px;
    }
}